*{
    margin: 0;
    padding: 0;
}

.loguito {
    border-radius: 50%;
}

body {
    background-color: #252525;
}

.navbar {
    background-color: #000;
}

.navbar-brand {
    display: flex;
    font-size: medium;
    padding: 0;
}

h1{ 
    margin-left: 15px;
    margin-bottom: 0;
}

.logo {
    margin: 0;
    padding: 0;
    width: 60px;
    height: 60px;
}

.collapse {
    display: flex;
    justify-content: end;
}

.nav-item {
    margin: 5px 5px;
    padding: 0 10px;
    border-radius: 10px;
}

.cero {
    padding: 0;
}

.nav-item:hover {
    background-color: #444;
    transition: 0.5s;
}

.nav-link {
    color: #fff;
    font-size: large;
    font-weight: bold;
}

.plan {
    background-color:#2dad0d;
    border-radius: 10px;
}

.plan:hover {
    background-color: #06d143;
    color: #303030;
}